* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial , sans-serif;
}

body {
    background-color: #000;
    color: #000;
}

.container {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FF00FF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 3.5em;
    color: #000;
    font-family:impact,chcarcoal,sans-serif ;
}

header p {
    font-size: 1.2em;
    color: #fff;
}

.intro {
    text-align: center;
    text-shadow: 5px 5px 10px #fff;
    font-size: 1.1em ;
    align-items: center;
    margin-bottom: 20px;
    color: #000080;

}

.intro img {
    width: 400px;
    height: 500px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .intro p {
    flex: 1;
    font-size: 1.1em;
    line-height: 1.6;
}

.biography, .achievements, .legacy {
    margin-bottom: 20px;
}

.biography h2, .achievements h2, .legacy h2 {
    font-size: 1.6em;
    color: #000;
    margin-bottom: 10px;
    font-family: broadway;
}

.biography p, .legacy p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #191970;
    font-family: cursive;
}

.achievements ul {
    list-style-type: disc;
    padding-left: 20px;
}

.achievements li {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 5px;
    color: #006400;
    font-family: cursive;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    font-size: 0.9em;
    color: #fff;
}